# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
.env
.venv
env/
venv/
ENV/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# AWS CDK
cdk.out/
cdk.context.json
*.js
!jest.config.js

# Logs y bases de datos
*.log
*.sqlite
*.db

# Coverage y testing
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Docker
.docker/

# Otros
*.bak
*.tmp
*.temp 